.nav-wrapper {
	background-color: black;
	padding-left: 20px;
	padding-right: 20px;
}
body {
	background-color: #444554;
}
.card {
	border: 4px;
	border-color: CED0CE;
	style: solid;
}

.cardStyles {
	color: grey !important;
}
#pageFooter {
	background-color: black;
}
.container {
	background-color: black;
}
